/*** Timed Javascript Quiz Game CSS Code ***/

/*** Global Default Styles ***/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 100%;
}

body {
    background-color: white;
    color:black;
}

/*** Header is a flexbox with its two items pushed to far left and far right of screen ***/
header {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

header p { 
    display: flex;
    font-size: 120%;
}

header div { 
    display: flex;
}

/*** Coding Quiz Challenge Headline ***/
h1 {
    text-align:center;
    margin-bottom: 3%;
}

/*** Align content to center ***/
p {
    text-align: center;
}

/*** List items have no text-decoration, appear almost like buttons ***/
li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
}

/*** Accessibility: change LI's when hovering over them ***/
li:hover {
    cursor: pointer;
    color: white;
}

section {
    margin-bottom: 3%;
    text-align: center;
}

/*** Where our game "how to play" instructions go-- hidden once game has started ***/
.gameDescription {
    display: block;
}

/*** Our scores form, visible only when game has ended ***/
.myscoresform {
    display: none;
}

/*** Turn successful answers green when clicked on ***/
.success {
    padding: 10px;
    background-color: green;
    color: white;
}

/*** Turn wrong answers red when clicked on ***/
.error {
    padding: 10px;
    background-color: red;
    color: white;
}

/*** Button styles (Start Game, Clear All High Scores, Play Again, Go Back) ***/
.btn {
    border: none;
    background-color: darkblue;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

/*** Accessibility: change buttons to green when user hovers over them ***/
.btn:hover {
background-color: rgb(5, 173, 27);
}

.btn:focus {
    outline: none;
    background-color: rgb(5, 173, 27);
    box-shadow: 0 0 0 3px darkblue;
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

/*** Display content centered ***/
.center {
    display: flex;
    justify-content: center;
}

#timer {
    font-weight: bolder;
}
